torch
torchvision
numpy<2
pillow
python-multipart
huggingface_hub
einops
imageio
omegaconf
safetensors
requests
typer
fastapi
uvicorn
trimesh
addict

matplotlib
scipy
opencv-python-headless
e3nn
evo
plyfile
pillow_heif
